version: '3.8'

# This file is used on the EC2 server to run all microservices
services:
  # 1. PUBLIC ENTRY POINT (API Gateway)
  api-gateway:
    # IMPORTANT: The image name must match what your CI/CD pushes to Docker Hub
    image: ${DOCKER_USER}/backend-api-gateway:latest
    container_name: api-gateway
    # Exposes port 80 on the EC2 host, directing traffic to container port 3000
    ports:
      - "80:3000"
    # Links to the internal network
    networks:
      - game-net
    environment:
      - AUTH_SERVICE_URL=http://auth:3000
      - GAME_SERVICE_URL=http://game:3000
    depends_on:
      - auth
      - game
      - review
      - user

  # 2. INTERNAL SERVICES (Only accessible via the game-net network)
  auth:
    image: ${DOCKER_USER}/backend-auth:latest
    container_name: auth
    networks:
      - game-net
    env_file:
      - ./auth/.env
  game:
    image: ${DOCKER_USER}/backend-game:latest
    container_name: game
    networks:
      - game-net
    env_file:
      - ./game/.env
    environment:
      - NODE_ENV=production
      
  review:
    image: ${DOCKER_USER}/backend-review:latest
    container_name: review
    env_file:
      - ./review/.env
    networks:
      - game-net
    environment:
      - NODE_ENV=production
      
  user:
    image: ${DOCKER_USER}/backend-user:latest
    container_name: user
    env_file:
      - ./user/.env
    networks:
      - game-net
    environment:
      - NODE_ENV=production

# Define the shared network
networks:
  game-net:
    driver: bridge