@import "tailwindcss";

@tailwindcss base;
@tailwindcss components;
@tailwindcss utilities;
:root {
  --color-primary: #191022;
  --color-purple: #7f13ec;
  --color-accent: #10b981;
}
@layer components {
  .bg-gameverse {
    @apply bg-[#191022];
  }
  .app-purple {
    @apply bg-[#7f13ec];
  }

  .scroll-row {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-top: 16px;
    overflow-x: auto;
    scrollbar-width: none;
    height: 256px;
    padding-bottom: 16px;
  }
}
@apply text-[#191022];

@font-face {
  font-family: "SpaceGrotesk";
  src: local("SpaceGrotesk"),
    url("./assets/fonts/SpaceGrotesk.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
